<!-- views/result.ejs -->

<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>收藏夹一览</title>
  <link rel="stylesheet" type="text/css" href="stylesheet/result.css"/>
  <meta name="referrer" content="same-origin"/>
</head>
<body>
  <h1>收藏夹视频信息一览:</h1>
  <button onclick="savePage()">保存为HTML</button>
  <div>
    <% allVideos.forEach(media => { %>
        <h3><%= media.title %></h2>
        <div class="video-item">
            <img class="cover" src="<%= media.cover %>" alt="cover">
            <div class="info">
                <strong>简介:</strong> <%= media.intro %><br>
                <strong>BV:</strong> <%= media.bv_id %><br>
                <a href="<%= media.link %>" target="_blank">传送面板</a>
            </div>
      </div>
    <% }); %>
  </div>
  <script>
    function savePage() {
      const htmlContent = document.documentElement.outerHTML;
      const blob = new Blob([htmlContent], { type: 'text/html' });
      const a = document.createElement('a');
      a.href = URL.createObjectURL(blob);
      a.download = 'favlist_Info.html';
      a.click();
    }
  </script>
  <meta name="referrer" content="same-origin"/>
</body>
</html>
